<% if @feed_items.any? %>
<ol class="tweets">
  <%= render partial: 'shared/feed_item', collection: @feed_items %>
</ol>
<div class="paginate">
  <%= will_paginate @feed_items, renderer: BootstrapPagination::Rails %>
</div>
<% end %>